main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

html {
    background: black;
}

.root {
    background: black;
    display: grid;
    grid-gap: 2vh;
    place-content: center;
}

.heading {
    display: grid;
    background: black;
    border: 1px solid white;
    margin-top: 2vh;
    place-items: center;
}

.heading-text {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.reload-btn {
    text-align: center;
    font-size: 1.75rem;
    position: absolute;
    right: 0;
    place-self: center;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: repeat(6, 0fr);
    grid-gap: 2vh;
    place-items: center;
    place-content: center;
    padding-top: 2vh;
}

.grid-cell {
    width: 100%;
    padding-bottom: 100%;
    background: black;
    border: 3px solid white;
    position: relative;
}

.grid-text {
    position:absolute;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.simple-keyboard.hg-theme-default.myTheme {
  background: black;
color: white;
}

.keyboard-buttons {
    background: dimgray !important;
    
}

.hg-theme-default .hg-button.hg-standardBtn {
    width: 5.5vw;
}

#perfect-match {
    background: #75ab57
}

#almost-match {
    background: #f5c555
}

#no-match {
    background: dimgray
}